<a href="https://colab.research.google.com/github/vane2217/Actividad5/blob/main/Te_damos_la_bienvenida_a_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
import numpy as np

# Crear datos de ejemplo
marcas = ['Toyota', 'Honda', 'Ford', 'Chevrolet', 'Nissan', 'BMW', 'Mercedes-Benz', 'Audi', 'Volkswagen', 'Hyundai']
modelos = ['Camry', 'Civic', 'F-150', 'Silverado', 'Altima', 'X5', 'C-Class', 'A4', 'Jetta', 'Elantra']
anios = [2018, 2020, 2019, 2017, 2016, 2021, 2018, 2020, 2019, 2017]
precios = np.random.randint(15000, 50000, 10)

# Crear DataFrame con los datos
df = pd.DataFrame({'marca': marcas, 'modelo': modelos, 'anio': anios, 'precio': precios})

# Mostrar el DataFrame
print(df_autos)

           marca     modelo  anio  precio
0         Toyota      Camry  2018   42605
1          Honda      Civic  2020   33162
2           Ford      F-150  2019   39643
3      Chevrolet  Silverado  2017   21137
4         Nissan     Altima  2016   17612
5            BMW         X5  2021   26892
6  Mercedes-Benz    C-Class  2018   44571
7           Audi         A4  2020   22890
8     Volkswagen      Jetta  2019   30810
9        Hyundai    Elantra  2017   44627

Seleccionar todas las filas de la columna "marca".

In [11]:
print(df.loc[:,"marca"])

0           Toyota
1            Honda
2             Ford
3        Chevrolet
4           Nissan
5              BMW
6    Mercedes-Benz
7             Audi
8       Volkswagen
9          Hyundai
Name: marca, dtype: object

Seleccionar las filas de los autos cuyo precio es mayor a $40,000.

In [12]:
print(df.loc[df['precio'] > 40000, :])

           marca     modelo  anio  precio
3      Chevrolet  Silverado  2017   46349
6  Mercedes-Benz    C-Class  2018   49508

Seleccionar las filas de los autos que son de la marca "BMW".

In [14]:
print(df.loc[(df['marca'] == 'BMW'), :])

  marca modelo  anio  precio
5   BMW     X5  2021   27036

Seleccionar las filas de los autos que son de la marca "Toyota" y tienen un precio menor a $20,000.

In [19]:
print(df.loc[((df['marca'] == 'Toyota') &(df ['precio']>20000)),:])

    marca modelo  anio  precio
0  Toyota  Camry  2018   37773

Seleccionar las filas de los autos que son del año 2019.

In [23]:
print(df.loc[df['anio'] == 2019, :])

        marca modelo  anio  precio
2        Ford  F-150  2019   26807
8  Volkswagen  Jetta  2019   30564

Seleccionar las filas de los autos que son del año 2016 o anteriores.

In [27]:
print(df.loc[df['anio'] <= 2016, :])

    marca  modelo  anio  precio
4  Nissan  Altima  2016   28079

Seleccionar las filas de los autos que son de la marca "Honda" y el modelo es "Civic".

In [28]:
df.loc[(df['marca'] == 'Honda') & (df['modelo'] == 'Civic'), :]

   marca modelo  anio  precio
1  Honda  Civic  2020   35953

Seleccionar las filas de los autos que tienen un precio entre $25,000 y $30,000.

In [32]:
df.loc[(df['precio'] >= 25000) & (df['precio'] <=30000), :]

     marca   modelo  anio  precio
2     Ford    F-150  2019   26807
4   Nissan   Altima  2016   28079
5      BMW       X5  2021   27036
9  Hyundai  Elantra  2017   26525

Seleccionar las filas de los autos que tienen un precio mayor a $30,000 y el modelo es "C-Class".

In [33]:
df.loc[(df['precio'] > 30000) & (df['modelo']=='C-Class'),:]

           marca   modelo  anio  precio
6  Mercedes-Benz  C-Class  2018   49508

Seleccionar las filas de los autos que son de la marca "Volkswagen" y el modelo no es "Jetta".

In [36]:
df.loc[(df['marca'] == 'Volkswagen') & (df['modelo'] !='Jetta'), :]

Empty DataFrame
Columns: [marca, modelo, anio, precio]
Index: []